@if (Request.IsAuthenticated)
{
    <ul class="login">
        <li class="menuitem">Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })!</li>
        <li class="button">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                  {
                      @Html.AntiForgeryToken()
                      <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                  }
        </li>
    </ul>
}
else
{
    <ul class="login">
        <li class="button">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="button">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
