<link href="../../Content/Signin.css" rel="stylesheet">
@model HouseHoldApp.MVC.Models.HouseHoldCreateModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("Create", "HouseHold", FormMethod.Post, new { @class = "form-signin" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <h2 class="form-signin-heading">Create HouseHold</h2>
        <div class="form-group">
            @Html.TextBoxFor(h => h.Name, null, new { @class = "form-control", @placeholder = "Householdname" })
        </div>
        <input type="submit" name="Create" class="btn btn-lg btn-primary btn-block" value="Create" />
    }
</div>
