@model HouseHoldApp.MVC.Models.HouseHoldCreateModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "HouseHold", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="field">
        @Html.LabelFor(h => h.Name)
        @Html.TextBoxFor(h => h.Name)
    </div>
    <div class="field">
        <label>&nbsp;</label>
        <input type="submit" name="Create" value="Create" class="submitbutton" />
    </div>

}

