@using HouseHoldApp.MVC.Models
@model HouseHoldApp.MVC.Models.HouseHoldModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    @Model.Name
</h1>

<table>
    <tr>
        <th>Username</th>
    </tr>
    @foreach (HouseHoldMemberModel houseHoldMemberModel in @Model.HouseHoldMemberModels)
    {
        <tr>
            <td>
                @houseHoldMemberModel.UserModel.UserName
            </td>
        </tr>
    }
</table>